$myColor : orange;

%myButton {
    padding: 10px 0px;
    width: 100%;
    color: rgb(239, 239, 239);
    background-color: rgb(250, 57, 74);
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    transition: .3s ease-in-out;
    text-transform: uppercase;
    &:hover{
        background-color: rgb(61, 0, 0);
    }
}